@import "../../variables/variables.sass"

.screen_initial
    background-color: $backgroud
    width: 100%
    min-height: calc(100vh)
    color: #fff
    font-family: 'Fira Code', monospace
    overflow: auto
    display: flex
    align-items: center
    flex-direction: column

    @media (orientation: portrait)
        > .container
            width: 95%

    @media (orientation: landscape)
        > .container
            width: 80%
            border-width: 0 1px 0 1px
            border-color: $comment
            border-style: solid
            padding: 0 5%

    .section_title
        color: $orange
        text-decoration: underline
