.screen_initial
    background-color: #282a36
    width: calc(100vw - 20px)
    height: calc(100vh - 20px)
    padding: 10px
    color: #fff
    font-family: 'Fira Code', monospace
    overflow: auto

    .section_title
        color: #ffb86c
        text-decoration: underline

    #section_competence
        .container
            display: flex
            flex-wrap: wrap
            width: 100%
